In [1]:
import plotly.express as px
import pandas as pd


def histogram(df, x, y=None):
    fig = px.histogram(df, x=x, y=y)

    return fig

def line_chart(df, x, y=None):
    fig = px.scatter(df, x, y)
    return fig

def table_normal():
    return None

def table_heatmap():
    return None

In [9]:
df_xbox = pd.read_csv('df_xbox.csv', sep='\t', encoding='latin-1')
df_xbox.head()

,Unnamed: 0,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,0,Grand Theft Auto V,2014,Action,Rockstar Games,4700000.0,3250000.0,10000.0,760000.0,8720000.0
1,1,Call of Duty: Black Ops 3,2015,Shooter,Activision,4630000.0,2040000.0,20000.0,680000.0,7370000.0
2,2,Call of Duty: WWII,2017,Shooter,Activision,3750000.0,1910000.0,0.0,570000.0,6230000.0
3,3,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,3760000.0,1470000.0,0.0,540000.0,5770000.0
4,4,MineCraft,2014,Misc,Microsoft Studios,3230000.0,1710000.0,0.0,490000.0,5430000.0

In [11]:
df_ps4 = pd.read_csv('df_ps4.csv', sep='\t', encoding='latin-1')
df_ps4.head()

,Unnamed: 0,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,0,Grand Theft Auto V,2014,Action,Rockstar Games,6060000.0,9710000.0,600000.0,3020000.0,19390000.0
1,1,Call of Duty: Black Ops 3,2015,Shooter,Activision,6180000.0,6050000.0,410000.0,2440000.0,15080000.0
2,2,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,5260000.0,6210000.0,210000.0,2260000.0,13940000.0
3,3,Call of Duty: WWII,2017,Shooter,Activision,4670000.0,6210000.0,400000.0,2120000.0,13400000.0
4,4,FIFA 18,2017,Sports,EA Sports,1270000.0,8640000.0,150000.0,1730000.0,11790000.0